page-home {

	
}
.content{

background: #36465d;

}
.button1{
     margin-top: 100px;
        padding: 20px;
}
.border{
margin-top: 100px;;
text-align: center;
-webkit-text-fill-color: #ffffff;
}
.navbar{
        background:#36465d;
}